<div>
    <div *ngIf="locationService.getLocationName()">
        <h3 *ngIf="locationService.getLocationName()">{{locationService.getLocationName()}} Status</h3>
        <div *ngIf="locationTables">
                <table *ngFor="let location of locationTables | async" class="table table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>Table Status</th>
                                <th>Toggle Status</th> 
                            </tr>
                         </thead>
                         <tbody>
                                <tr>
                                    <table-status-array
                                        [tables]="location.tables">
                                    </table-status-array>
                                </tr>

                         </tbody>   
                 </table>
        </div>       
    </div>
        
</div>