
<div *ngIf="!user">Please, log in to add match</div>

<div [hidden]="!submitted" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Well Done!</strong> Location has been added
</div>

<div class="btn-group" role="group" aria-label="Menu Options">
  <button (click)="clickCreateLocation()" type="button" class="btn btn-default">Create Location</button>
  <button (click)="clickEditLocation()" type="button" class="btn btn-default">Edit Location</button>
</div>

<div [hidden]="!createLocation">
    <form *ngIf="user" class="form-horizontal" (ngSubmit)="onSubmit()" #locationEntryForm="ngForm">
        <h3>Create Location</h3>
        <div class="form-group">
            <label for="locationName" class="col-sm-2 control-label">Location Name:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="locationName" name="locationName" required [(ngModel)]="locationEntry.name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button (click)="addLocation()" type="button" class="btn btn-default" [disabled]="!locationEntryForm.form.valid">Add Location</button>
                  
            </div>
        </div>
      </form>
</div>



<div [hidden]="!editLocation">
    <h3>Select Location</h3>

    <div class="form-group">
        <label for="locationID" class="col-sm-2 control-label">Select Location:</label>
        <div class="col-sm-5">
                <select class="form-control" id="locationID" required [(ngModel)]="locationID" name="locationID" (change)="onSelect()">
                    <option *ngFor="let location of locationTables | async" [value]="location._id">{{location.name}}</option>
                </select>
        </div>
    </div>





    <div class="col-sm-10">
        <h4>Current Tables</h4>
    </div>
    <div *ngIf="tableArraySelect">
        <div class="col-sm-10">
            <button (click)="addTable()" type="button" class="btn btn-default">Add Table To Location</button>            
        </div>

        <div class="col-sm-10">
            <table-entry *ngFor="let table of tableArraySelect"
            [table]="table"
            [location]="locationName"
            (removeTableEvent)="removeTableEvent($event)"
            (editTableEvent)="editTableEvent($event)">
        </table-entry>
        </div>
    </div>

</div>

