.container-fluid {   
    padding-left: 0px;
    padding-right: 0px;
}

.loss {
    border-left: 10px solid #a94442; /* red */
}

.win {
    border-left: 10px solid #42A948; /* green */
}

a {
    color: #333333;
    text-decoration: none !important;
    font-weight:normal !important;
} 
