
<h1 *ngIf="locationService.getLocationName()">{{locationService.getLocationName()}} Stats</h1>
<h1 *ngIf="!locationService.getLocationName()">Overall Stats</h1>
<div class="input-group stylish-input-group col-xs-12 col-md-12">
    <input [(ngModel)]="searchValue" name="searchValue" type="text" (keyup)="search()" (keyup.enter)="navigateToProfileWithSearchValue()"
        class="form-control"  placeholder="Search for a Player..." >
    <span class="input-group-addon">
        <button (click)="navigateToProfileWithSearchValue()">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div>
<div class="list-group" *ngIf="users?.length > 0"> 
    <a class="list-group-item" *ngFor="let user of users" (click)="navigateToProfile(user.username)">
        {{ user.username }}
    </a>
</div>
<table-status>
    
</table-status>
<div class="row">
    <div class="col-md-4 col-md-push-8 col-xs-12"> 
            <h1>Table Avaliability</h1>
            <div class="alert alert-success col-md-12 text-center">
                <strong>Open</strong>
            </div>
            <div class="alert alert-danger col-md-12 text-center">
                <strong>In Use</strong>
            </div>
            <h1>Population</h1>
            <div class="well col-md-6 col-xs-6 text-center">
                <b>{{totalPlayersNum}}</b> <br> <b>Total Players</b>
            </div>
            <div class="well col-md-6 col-xs-6 text-center">
                <b>{{matchCountNum}}</b> <br> <b>Games Tracked</b>
            </div>
        </div>
    <div class="col-md-8 col-md-pull-4 col-xs-12">
        <h1>Leaderboards</h1>
        <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                </tbody>
            </table> 

            <h1>Accolades</h1>
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                    <th>Column heading</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                </tbody>
            </table> 
        <match-list></match-list>
    </div>
</div>